<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<div>
    <div ng-show="auth.request.status == 'NONE'">
        <h2>Invalid Request</h2>
        <p style="font-size: 18px;">
            Your authentication request is invalid or has expired.<br/>
            Please go back to the page which started the authentication and try again.
        </p>
    </div>
    <br/>
    <div ng-show="auth.request.status != 'NONE'">
        <h2>Authenticating <strong>{{auth.getUsername()}}</strong></h2>

        <div>
            <div style="margin: 0 auto; width: 128px">
                <img src="/img/loading-ring-gray.svg" class="img-responsive" ng-if="auth.request.status == 'STARTED'">
                <img src="/img/loading-ring-dark-blue.svg" class="img-responsive" ng-if="auth.request.status == 'REQUESTED'">
                <img src="/img/loading-ring-green.svg" class="img-responsive" ng-if="auth.request.status == 'TOKEN_GENERATED' || auth.request.status == 'VERIFIED'">
                <img src="/img/loading-ring-orange.svg" class="img-responsive" ng-if="auth.request.status == 'TIMEOUT_LOGIN' || auth.request.status == 'TIMEOUT_TOKEN'">
                <img src="/img/loading-ring-red.svg" class="img-responsive" ng-if="auth.request.status == 'FAILED'">
            </div>
            <div class="text-center" style="font-size: 22px;">
                <span ng-if="auth.request.status == 'STARTED'">Loading...</span>

                <span ng-if="auth.request.status == 'REQUESTED'">Please join <strong>mc.mcauth.ga</strong> with your Minecraft client</span>
                <span ng-if="auth.request.status == 'TOKEN_GENERATED'">Please enter the token below</span>

                <span ng-if="(auth.request.status == 'REQUESTED' || auth.request.status == 'TOKEN_GENERATED') && auth.expiration.duration > 0"><br/>Request expires in {{auth.expiration.durationText}}</span>

                <div ng-if="auth.request.status == 'TOKEN_GENERATED'" style="margin: 0 auto; width: 200px">
                    <form>
                        <input class="form-control" placeholder="Authentication Code" minlength="6" maxlength="6" required ng-model="auth.enteredToken">
                        <button type="submit" class="btn btn-success" ng-click="submitToken()">Authenticate</button>
                    </form>
                </div>

                <span ng-if="auth.request.status == 'VERIFIED'"><strong>Account verified!</strong></span>
                <span ng-if="auth.request.status == 'VERIFIED'">Redirecting back...</span>

                <span ng-if="auth.request.status == 'TIMEOUT_LOGIN'">Your login timed out. Please try again</span>
                <span ng-if="auth.request.status == 'TIMEOUT_TOKEN'">Your token expired. Please try again</span>
                <span ng-if="auth.request.status == 'FAILED'">Your authentication failed</span>
            </div>
        </div>
    </div>
</div>